#data-solutions {
    .data-sol-info {
        h2 {
            font-weight: 700;
            padding-bottom: 2rem;
        }
        // p {
        // }

        h4 {
            font-weight: 800;
            margin-top: 25px;
        }

        ul {
            margin-top: 30px;
            li {
                display: block;
                margin-bottom: 15px;
                font-weight: 600;
                span {
                    display: flex;
                    padding: 15px 20px;
                    border: 1px solid #e7e7e7;
                    border-radius: 5px;
                    font-weight: 600;
                    background: #ffffff;
                    i {
                        position: relative;
                        z-index: 1;
                        color: #437eeb;
                        display: inline-block;
                        margin-right: 25px;
                        padding-left: 8px;
                        font-size: 14px;
                        top: 0;
                    }
                }
            }
        }
    }

    // .data-image {
    //     img {
    //     }
    // }
}
