#our-story-area {
    margin-top: 32rem;
    .container {
        .story-items {
            .single-item {
                .item {
                    span{
                        font-size: 23px;
                    }

                    h4{
                        font-size: 23px;
                    }
                    p{
                        font-size: 23px;
                        color: red;
                    }
                }
            }
        }
    }
}
