@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
.my-btn-primary {
  background-color: #437eeb;
  padding: 18px 44px;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  letter-spacing: 1px;
  overflow: hidden;
  border-radius: inherit;
  color: #ffffff;
  border-radius: 30px;
}

.fa-plus {
  border: 1px dotted #ffffff;
  padding: 6px;
  border-radius: 50%;
  background-color: #437eeb;
}

.btn-grad {
  background-image: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background-image: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
}

.btn-grad:hover {
  background-position: right center;
  background-image: -webkit-gradient(linear, left top, right top, from(#437eeb), to(#1e55bd));
  background-image: linear-gradient(90deg, #437eeb 0%, #1e55bd 100%);
  color: #ffffff;
}

.btn-second {
  display: block;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  position: relative;
  z-index: 1;
  color: #666666;
  background-color: #ffffff;
}

.btn-second:hover {
  background-color: #ffffff;
}

.btn-overlay {
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 10px 40px;
  border-radius: 50px;
  color: #3971d8;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-overlay:hover {
  color: #ffffff;
}

.btn-overlay:hover::after {
  left: 0;
}

.btn-overlay::after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#437eeb), to(#1e55bd));
  background: linear-gradient(90deg, #437eeb 0%, #1e55bd 100%);
  color: #ffffff;
  border-color: transparent;
  position: absolute;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn-third a {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  z-index: 5;
}

.btn-third a i {
  padding: 6px 9px;
  border: 0.5px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  color: #437eeb;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #232323;
  font-style: normal;
}

.ul, li {
  list-style: none !important;
}

.img {
  max-width: 100%;
}

a,
button {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus, a:hover,
.btn:focus, .btn:hover,
button:focus, button:hover {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  color: #232323;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}

#head-nav nav {
  position: relative;
  right: 15px;
  background-color: #437eeb;
  width: 22.9rem;
  height: 5.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#head-nav .anada-brand {
  position: absolute;
  left: 11.8rem;
  bottom: 1.1rem;
}

#head-nav .navbar-menu {
  position: relative;
  top: 1rem;
  right: 1rem;
}

#head-nav .navbar-menu .nav-item:hover .menu-dropdown {
  opacity: 1;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  z-index: 2;
  font-size: 13px;
  background-color: #ffffff;
  border-radius: 5px;
  visibility: visible;
  color: #232323;
  line-height: 3;
  padding: 4px 6px;
}

#head-nav .navbar-menu .nav-item .nav-link {
  color: #232323;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.06em;
  padding-bottom: 2rem;
}

#head-nav .navbar-menu .nav-item .nav-link.active {
  color: #437eeb;
}

#head-nav .navbar-menu .nav-item .nav-link:hover {
  color: #437eeb;
}

#head-nav .navbar-menu .nav-item .menu-dropdown {
  margin-left: 0.6rem;
  position: absolute;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  opacity: 0;
  font-size: 13px;
  padding: 4px 6px;
  border-radius: 8px;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  line-height: 3;
  display: block;
}

#head-nav .navbar-menu .nav-item .menu-dropdown li a {
  color: black;
  font-size: 14px;
}

#head-nav .navbar-menu .nav-item .menu-dropdown li a:hover {
  color: #437eeb;
}

#head-nav .navbar-menu .attr-nav .side-menu {
  position: absolute;
  right: 11rem;
}

#head-nav .navbar-menu .attr-nav a i {
  font-size: 1rem;
  color: black;
  position: relative;
  top: 0.5rem;
  right: 1rem;
}

#head-nav.sticky-menu {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  top: 0;
}

#tech-system .container .content-items {
  position: relative;
  top: 8rem;
}

#tech-system .container .content-items .banner {
  position: relative;
  top: 1rem;
}

#tech-system .container .content-items .image-size img {
  width: 115%;
  position: relative;
  left: 1rem;
  bottom: 4rem;
}

#tech-system .container .content-items h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 30px;
}

#tech-system .container .content-items h2 span {
  font-size: 36px;
  display: block;
  font-weight: 200;
  margin-bottom: 20px;
}

#tech-system .container .content-items p {
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

#tech-system .container .content-items a {
  margin-top: 12px;
}

#features .container {
  overflow-x: hidden;
  max-width: inherit;
  position: relative;
  top: 14rem;
}

#features .container img {
  width: 90%;
  position: relative;
  left: 10rem;
}

#features .container .features-items {
  position: relative;
  left: 6rem;
}

#features .container .features-items .item {
  position: relative;
  width: 70%;
  border-bottom: 3px solid #437eeb;
  border-radius: 10px;
  padding: 50px;
}

#features .container .features-items .item .items-box {
  width: 110%;
  margin-left: 1rem;
  padding: 0;
  position: relative;
  right: 2rem;
}

#features .container .features-items .item .items-box .icon i {
  font-size: 5rem;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#031941), to(#3971d8));
  background: linear-gradient(90deg, #031941 0%, #3971d8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#features .container .features-items .item .items-box .icon i::before {
  font-size: 4.37rem;
}

#features .container .features-items .item .items-box h3 {
  font-weight: 700;
  margin-bottom: 25px;
}

#features .container .features-items .item .items-box p {
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  font-size: 15px;
}

#features .container .features-items .owl-dots .owl-dot.active span {
  background: #1e55bd;
}

#features .container .features-items .owl-dots span {
  background: #ffffff;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

#features .wave {
  background: #ffffff;
  position: relative;
  bottom: 7rem;
  z-index: -2;
}

#about_us .container .heading h4 {
  text-transform: uppercase;
  font-weight: 800;
  color: #437eeb;
  font-size: 20px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

#about_us .container .heading h2 {
  display: block;
  font-weight: 700;
  position: relative;
  margin-bottom: 0;
  font-size: 36px;
}

#about_us .container .content {
  margin-top: 2rem;
}

#about_us .container .content p {
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-size: 15px;
  font-weight: 400;
}

#about_us .container .center-tabs {
  border-bottom: 3px solid #3971d8;
  width: 80%;
}

#about_us .container .center-tabs .nav-tabs {
  position: relative;
  left: 19%;
}

#about_us .container .center-tabs .nav-tabs li {
  margin: 0;
  padding: 0;
}

#about_us .container .center-tabs .nav-tabs li a {
  display: block;
  border: none;
  border-radius: 5px;
  padding: 14px 25px;
  position: relative;
  z-index: 1;
  color: #666666;
  font-size: 16px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

#about_us .container .center-tabs .nav-tabs li a.active::after {
  position: absolute;
  left: 50%;
  bottom: -15px;
  content: "";
  height: 15px;
  width: 1px;
  background: #437eeb;
}

#about_us .container .center-tabs .nav-tabs li a.active::before {
  position: absolute;
  left: 50%;
  bottom: -24px;
  content: "";
  height: 10px;
  width: 10px;
  border: 2px solid #437eeb;
  margin-left: -5px;
  border-radius: 50%;
}

#about_us .container .center-tabs .nav-tabs .nav-item .nav-link.active {
  padding: 14px 25px;
  background: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
  color: #ffffff;
}

#about_us .container #tabsContent {
  margin-top: 2rem;
}

#about_us .container #tabsContent #tab1,
#about_us .container #tabsContent #tab2,
#about_us .container #tabsContent #tab3 {
  position: absolute;
  padding-top: 3rem;
  left: 24%;
  width: 60%;
}

#about_us .container #tabsContent h3 {
  margin-bottom: 20px;
  font-weight: 700;
  color: #232323;
  font-size: 28px;
}

#about_us .container #tabsContent p {
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  font-size: 15px;
}

#factors-area {
  margin-top: 1rem;
}

#factors-area .container .client-statics .statics .timer {
  display: block;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  margin-top: -5px;
  margin-bottom: 15px;
  color: #232323;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear, left top, right top, from(#031941), to(#3971d8));
  background: linear-gradient(90deg, #031941 0%, #3971d8 100%);
  -webkit-background-clip: text;
  text-align: center;
}

#factors-area .container .client-statics .medium {
  display: block;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: -5px;
  color: #232323;
  text-align: center;
}

#services-area {
  margin-top: 14rem;
}

#services-area .shape-anime {
  z-index: -3;
  position: absolute;
  right: 7rem;
  bottom: 1rem;
  width: 200px;
  height: 200px;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform: rotate(rotate(3deg));
          transform: rotate(rotate(3deg));
  transform: rotate(rotate(3deg));
  transform: rotate(rotate(3deg));
  transform: rotate(rotate(3deg));
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#services-area .shape-anime img {
  position: absolute;
  right: 0;
}

#services-area .container .service-item h2 {
  margin: 0;
  font-weight: 700;
  margin-top: -8px;
  font-size: 36px;
}

#services-area .container .service-item p {
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  font-size: 17px;
}

#services-items {
  margin-top: 10rem;
}

#services-items .container .main-items .item {
  -webkit-box-shadow: 0 5px 30px 0 #cccccc;
          box-shadow: 0 5px 30px 0 #cccccc;
  padding: 50px 30px;
  background: #ffffff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 2rem;
}

#services-items .container .main-items .item:hover p {
  color: #ffffff;
}

#services-items .container .main-items .item:hover h4 {
  color: #ffffff;
}

#services-items .container .main-items .item:hover .serv-button a {
  color: #ffffff;
}

#services-items .container .main-items .item:hover .serv-button a i {
  background-color: #ffffff;
  color: #437eeb;
}

#services-items .container .main-items .item:hover::after {
  bottom: 0%;
  opacity: 1;
  z-index: -1;
}

#services-items .container .main-items .item img {
  width: 100px;
  height: auto;
  margin-bottom: 30px;
  min-height: 100px;
}

#services-items .container .main-items .item h4 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

#services-items .container .main-items .item p {
  font-family: "Nunito", sans-serif;
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 300;
  font-size: 15px;
}

#services-items .container .main-items .item::after {
  position: absolute;
  left: 0;
  bottom: -100%;
  content: "";
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#437eeb), to(#093ac1));
  background: linear-gradient(to bottom, #437eeb 0%, #093ac1 100%);
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#services-items .container .main-items .item .serv-button a {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  z-index: 5;
}

#services-items .container .main-items .item .serv-button a i {
  padding: 6px 9px;
  border: 0.5px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  color: #437eeb;
}

#work-process .container {
  margin-top: 10rem;
}

#work-process .container .heading h4 {
  text-transform: uppercase;
  font-weight: 800;
  color: #437eeb;
  font-size: 20px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

#work-process .container .heading h2 {
  display: block;
  font-weight: 700;
  position: relative;
  margin-bottom: 0;
  font-size: 36px;
}

#work-process .work-pro {
  margin-top: 4rem;
}

#work-process .work-pro .single-item .item {
  height: 22rem;
  position: relative;
}

#work-process .work-pro .single-item .item .icon i {
  background: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
  border-radius: 50%;
  color: #ffffff;
  font-size: 50px;
  height: 120px;
  left: 50%;
  line-height: 120px;
  margin-left: -60px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 120px;
  z-index: 1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#work-process .work-pro .single-item .item .icon i::before {
  font-size: 3rem;
  margin-left: 0px;
  padding: 0px;
}

#work-process .work-pro .single-item .item .icon i span {
  background: #ffffff;
  position: absolute;
  right: 0;
  top: -10px;
  height: 35px;
  line-height: 35px;
  width: 35px;
  z-index: 1;
  color: #437eeb;
  font-weight: 800;
  font-size: 14px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
}

#work-process .work-pro .single-item .item .info {
  position: absolute;
  bottom: 0;
}

#work-process .work-pro .single-item .item .info h4 {
  font-weight: 800;
  text-transform: capitalize;
}

#work-process .work-pro .single-item .item .info p {
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
}

#skill-area {
  margin-top: 13rem;
}

#skill-area .container .skills .info h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

#skill-area .container .skills .info h3 {
  margin-bottom: 30px;
  font-weight: 600;
  color: #666666;
}

#skill-area .container .skills .info p {
  font-family: "Nunito", sans-serif;
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

#skill-area .container .skills .info .skill-items .progress-scale h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 5px;
  text-align: left;
}

#skill-area .container .skills .info .skill-items .progress-scale .progress .progress-bar {
  height: 6px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
  top: 12px;
  position: relative;
}

#skill-area .container .skills .images {
  position: relative;
}

#skill-area .container .skills .images .img-first {
  position: absolute;
  width: 80%;
}

#skill-area .container .skills .images .img-second {
  position: absolute;
  width: 60%;
  top: 160px;
  right: -70px;
}
/*# sourceMappingURL=styles.css.map */