#features {
  .container-fluid {
    .features-thing {
    //   overflow-x: hidden;
    //   max-width: inherit;
margin-top: 15rem;

      img {
        max-width: 80%;
        position: relative;
        left: 3rem;
     
      }

      .features-items {
        position: relative;
        top: 0rem;
        .item {
          position: relative;
          left: 1rem;
          width: 60%;
          border-bottom: 3px solid $color-main;
          border-radius: 10px;
          padding: 40px;
          .items-box {
            width: 110%;
            padding: 1rem 2.5rem;
            position: relative;
            // right: 2rem;
            .icon {
              i {
                font-size: 5rem;
                display: inline-block;
                background: $icon-gradient;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                &::before {
                  font-size: 4.37rem;
                }
              }
            }

            h3 {
              font-weight: 700;
              margin-bottom: 25px;
            }
            p {
              color: $color-gray;
              line-height: 28px;
              margin: 0 0 15px;
              text-transform: none;
              font-weight: 400;
              font-size: 15px;
            }
          }
        }
        .owl-dots {
          .owl-dot.active {
            span {
              background: $color-secondary;
            }
          }
          span {
            background: $color-white;
            width: 5px;
            height: 5px;
            border-radius: 50%;
          }
        }
      }
    }
    .wave {
      background: $color-white;
      position: relative;
      bottom: 7rem;
      z-index: -2;
    }
  }
}
