#services-area {

    .shape-anime {
        z-index: -3;
        position: absolute;
        right: 7rem;
        bottom: 1rem;
        width: 200px;
        height: 200px;

        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @include transform(rotate(3deg));

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        img {
            position: absolute;
            right: 0;
        }
    }
    .container {
        .service-item {
            h2 {
                margin: 0;
                font-weight: 700;
                margin-top: -8px;
                font-size: 36px;
            }
            p {
                color: $color-gray;
                line-height: 28px;
                margin: 0 0 15px;
                text-transform: none;
                font-weight: 400;
                font-size: 17px;
            }
        }
    }
}
