#pag-num {
    width: fit-content;
  .pagination {
    position: relative;
    left: 159%;
    .page-item {
        display: inline-block;
        padding: 15px 20px;
        margin: 5px;
        margin-bottom: 0;
        border-radius: 10px;
      .page-link {
        position: relative;
        display: block;
        padding: 16px 21px;
        margin-left: -32px;
        line-height: 1.25;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        &.active {

          z-index: 3;
          color: #fff;
          background-color: #007bff;
          border-color: #007bff;
        }
      }
    }
  }
}
