#footer-area {
    .container {
        .foot-items {
            .static-height {
                height: 279px;
            }
            .foot-item {
                p {
                    margin-top: 1rem;
                }

                .usefull-links {
                    font-weight: 700;
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 30px;
                }

                .services-link {
                    font-weight: 700;
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 30px;
                }
                .contact-info {
                    font-weight: 700;
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 30px;
                }

                .address-info {
                    ul {
                        li {
                            color: $color-gray;
                        }
                    }
                }

                .social-items {
                    justify-content: space-evenly;
                    padding: 0;

                    .facebook {
                        background-color: #0056b3;
                    }
                    .twitter {
                        background: #1da1f2 none repeat scroll 0 0;
                    }
                    .youtube {
                        background: #cd201f none repeat scroll 0 0;
                    }
                    .instagram {
                        background: #262626 none repeat scroll 0 0;
                    }

                    li {
                        display: inline-block;
                        width: 13%;
                        height: 40px;
                        text-align: center;
                        border: 1px solid #ffffff;
                        border-radius: 10%;
                        font-size: 19px;
                        padding-top: 7px;
                        color: white;

                        a {
                            i {
                                color: white;
                            }
                        }
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
            // h4 {
            // }
            ul {
                padding: 0px;
                li {
                    display: block;
                    margin-bottom: 18px;
                    a {
                        padding: 0;
                        color: $color-black;
                        &:hover {
                            color: $color-main;
                        }
                    }
                }
            }
        }

        .footer-bottom{
            padding-bottom: 0;
            p{
                a{
                    text-decoration: underline;
                    font-weight: 700;
                }
            }

            .text-right{
                
                ul{
                    display: inline-flex;
                    li{
                        margin-right: 2rem;
                        
                        a{
                            color: #262626;
                            font-weight: 700;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
