#footer-area {
    top: 15rem;
    position: relative;
    height: 36rem;
    .container {
        .foot-items {
            z-index: 1;
            position: relative;
            .static-height {
                height: 279px;
            }
            .foot-item {
                p {
                    margin-top: 1rem;
                }

                .usefull-links {
                    font-weight: 700;
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 30px;
                }

                .services-link {
                    font-weight: 700;
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 30px;
                }
                .contact-info {
                    font-weight: 700;
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 30px;
                }

                .address-info {
                    ul {
                        li {
                            color: $color-gray;
                        }
                    }
                }

                .social-items {
                    justify-content: space-evenly;
                    padding: 0;

                    .facebook {
                        background-color: #0056b3;
                        border-color: transparent;
                        cursor: pointer;
                    }
                    .twitter {
                        background: #1da1f2 none repeat scroll 0 0;
                        border-color: transparent;
                        cursor: pointer;
                    }
                    .youtube {
                        background: #cd201f none repeat scroll 0 0;
                        border-color: transparent;
                        cursor: pointer;
                    }
                    .instagram {
                        background: #262626 none repeat scroll 0 0;
                        border-color: transparent;
                        cursor: pointer;
                    }

                    li {
                        display: inline-block;
                        width: 13%;
                        height: 40px;
                        text-align: center;
                        border: 1px solid $color-white;
                        border-radius: 10%;
                        font-size: 19px;
                        padding-top: 7px;
                        color: $color-white;

                        a {
                            i {
                                color: $color-white;
                            }
                        }
                        &:hover {
                            color: $color-white;
                        }
                    }
                }
            }
          
            ul {
                padding: 0px;
                li {
                    display: block;
                    margin-bottom: 18px;
                    a {
                        padding: 0;
                        color: $color-black;
                        &:hover {
                            color: $color-main;
                        }
                    }
                }
            }
        }

        .footer-bottom{
            position: relative;
            top: 7rem;
            z-index: 4;
            p{
                a{
                    text-decoration: underline;
                    font-weight: 700;
                }
            }

            .text-right{
                
                ul{
                    display: inline-flex;
                    li{
                        margin-right: 2rem;
                        
                        a{
                            color:$color-black;
                            font-weight: 700;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

.footer-shape {
    background-image: url(/assets/img/shape1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 15rem;
    left: 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    opacity: 0.03;
}