#head-nav {
  // <!-- brand image -->
  nav {
    position: relative;
    right: 15px;
    background-color: $color-main;
    width: 22.9rem;
    height: 5.8rem;
    display: flex;
    justify-content: flex-end;
  }
  .anada-brand {
    position: absolute;
    left: 11.8rem;
    bottom: 1.1rem;
  }

  .navbar-menu {
    position: relative;
    top: 1rem;
    right: 1rem;
    .nav-item {
      &:hover .menu-dropdown {
        opacity: 1;
        transition: all 0.6s;
        transform: translateY(5px);
        z-index: 2;
        font-size: 13px;
        background-color: $color-white;
        border-radius: 5px;
        visibility: visible;
        color: $color-black;
        line-height: 3;
        padding: 4px 6px;
      }
      .nav-link {
        color: $color-black;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 0.06em;
        padding-bottom: 2rem;
        &.active {
          color: $color-main;
        }
        &:hover {
          color: $color-main;
        }
      }
      .menu-dropdown {
        margin-left: 0.6rem;
        position: absolute;
        transition: all 0.9s;
        opacity: 0;
        font-size: 13px;
        padding: 4px 6px;
        border-radius: 8px;
        background-color: $color-white;
        visibility: hidden;
        transform: translateY(-5px);
        line-height: 3;
        display: block;

        li {
          a {
            color: black;
            font-size: 14px;
            &:hover {
              color: $color-main;
            }
          }
        }
      }
    }

    .attr-nav {
      .side-menu {
        position: absolute;
        right: 8rem;
      }
      a {
        i {
          font-size: 1rem;
          color: $color-black;
          position: relative;
          top: -0.5rem;
          right: 1rem;
          margin-right: 0.2rem;
          top: 0rem;
          height: 5.5rem;
        }
      }
    }
  }
  &.sticky-menu {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: $color-white;
    top: 0;
  }
}
