#mobile-menu {
  &.mob-menu {
    display: none !important;
   
    .mob-items {
      .icon {
        i {
          font-size: 1.4rem;
          color: $color-black;
          margin-top: 6px;

        }
      }
      .logo-image {
        img {
          margin-left: 0px;
          position: relative;
          left: 2rem;
        }
      }
      .attribute {
        .attr-nav {
          
          a {
            i {
              font-size: 1rem;
              color: $color-black;
            }
          }
        }
      }
    }
  }
  &.mob-menu-sticky {
    background-color: $color-white !important;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    .mob-items {
      .icon {
        i {
          font-size: 1.4rem;
          color: $color-black;
          margin-top: 6px;
        }
      }
      .logo-image {
        img {
          margin-left: 0px;
          position: relative;
          left: 2rem;
        }
      }
      .attribute {
        .attr-nav {
          
          a {
            i {
              font-size: 1rem;
              color: $color-black;
            }
          }
        }
      }
    }
  }

  #navbar-left-menu {
    display: none;
    background-color: $color-white;
    .navbar-menu {
      padding: 0;
      padding-bottom: 1rem;
      .nav-item {
        padding: 0;
        line-height: 2rem;
        
        .nav-link {
          padding: 0;
          display: none;
          display: flex;
          justify-content: space-between;
          color: $color-black !important;
          color: #333333;
          background-color: transparent !important;
          text-transform: uppercase;
          font-weight: 800;
          font-size: 14px;
          i {
            font-size: 15px;
          }
        }

        ul {
          display: none;
        padding: 1rem 1rem;
          li {
            a {
              color: $color-black !important;
            }
          }
        }
      }
    }
  }

}
