body {
    font-family: $font-first;
    font-weight: 500;
    font-size: 15px;
    color: $color-black;
    font-style: normal;
}

.ul ,li{
    list-style: none !important;
    padding: 0;
}

.img {
    max-width: 100%;
}

a,
button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,a:hover,
.btn:focus,.btn:hover,
button:focus, button:hover{
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:$font-first;
    color: $color-black;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
    line-height: 1.2;
}

p{
    color: $color-gray;
    line-height: 28px;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;
}

strong {
    color: $color-gray;
}